:root {
  /* Typography */
  --font-body: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --font-heading: sans-serif;
  --font-size-base: 1.25em; /* 20px / 16px = 1.25em */

  /* Colors - Light theme */
  --color-bg: #fff;
  --color-bg-secondary: #f9f9f9;
  --color-bg-code: #f9f9f9;
  --color-bg-sidebar: #202020;
  --color-bg-sidebar-toggle: #555;
  --color-bg-sidebar-toggle-active: #555;

  --color-text: #454545;
  --color-text-muted: #676767;
  --color-text-heading: #404040;
  --color-text-sidebar: #313131;

  --color-link: #841212;
  --color-link-sidebar: #9b0001;

  --color-border: #eee;
  --color-border-light: #e5e5e5;
  --color-border-sidebar: #d6d6d6;

  --color-accent: #ac4142;
  --color-error: #D64541;
  --color-success: #288828;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors - Dark theme */
    --color-bg: #030303;
    --color-bg-secondary: #1e1e1e;
    --color-bg-code: #1e1e1e;
    --color-bg-sidebar: rgba(0, 0, 0, 0.5);
    --color-bg-sidebar-toggle: #592424;
    --color-bg-sidebar-toggle-active: #a73031;

    --color-text: #dcdcdc;
    --color-text-muted: #ededed;
    --color-text-heading: #f8f8f8;
    --color-text-sidebar: #ececec;

    --color-link: #ec494b;
    --color-link-sidebar: #ff4142;

    --color-border: #2c2c2c;
    --color-border-light: #2c2c2c;
    --color-border-sidebar: #2c2c2c;
  }
}

$break-tabletp: 768px;
$break-tabletl: 1024px;
$break-laptop: 1220px;

@mixin mq($media) {
  @if $media == tabletp {
    @media only screen and (min-width: $break-tabletp) { @content; }
  }
  @else if $media == tabletl {
    @media only screen and (min-width: $break-tabletl) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (min-width: $break-laptop) { @content; }
  }
}




// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  Placeholder
// Style the placeholder text of a form element.
//
// Usage: @include input-placeholder(#ABB7B7, 15%);

@mixin input-placeholder($color, $alpha) {
  ::-webkit-input-placeholder {
    color: lighten($color, $alpha);
  }

  ::-moz-placeholder {
    color: lighten($color, $alpha);
  }

  :-ms-input-placeholder {
    color: lighten($color, $alpha);
  }

  :-moz-placeholder {
    color: lighten($color, $alpha);
  }
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - clip-path
// Create a clipping region that sets what part of an element should be shown.
//
// Usage: @include clip-path(
//             padding-box,
//             circle(50px at 0 100px),
//             // ...
//        );

@mixin clip-path($clip-list...) {
  // combine the passed transforms into a space separated list
  $clip-list: join($clip-list, null, space);

  -webkit-clip-path: $clip-list;
     -moz-clip-path: $clip-list;
      -ms-clip-path: $clip-list;
          clip-path: $clip-list;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - visually-hidden
// Visually hides text content for accessibility. This text should
// only be visible to screen reader users.
//
// Usage: @include visually-hidden();

@mixin visually-hidden {
  // Outside the DOM flow
  position: absolute !important;
  // Do not wrap content
  white-space: nowrap;
  // Hide borders
  border: 0;
  // Nearly collapsed
  height: 1px;
  width: 1px;
  // Remove padding / margin
  padding: 0;
  margin: -1px;
  // Do not allow overflow
  overflow: hidden;
  // Hide the 1px x 1px element completely
  // - clip: old browsers
  // - clip-path: modern browsers
  clip: rect(1px, 1px, 1px, 1px);
  @include clip-path(inset(50%));
}


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: var(--font-body);
  font-size: 1em; /* 16px; specify in ems to support text resizing in all browsers */
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: var(--font-size-base);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.content {
  margin-bottom: 4rem;
}

.wrap {
  position: relative;
  width: 100%;
}

.container {
  max-width: 32rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 56em) {
  .container {
    max-width: 38rem;
  }
}

a, .text-title a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-bottom: .5rem;
  font-weight: normal;
  color: var(--color-text-heading);
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1,
h1.text-title {
  font-size: 1.4rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

h3 {
  margin-top: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: circle;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid #fff;
}

mark {
  color: white;
  background-color: var(--color-link);
}

blockquote {
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0;
  color: var(--color-text);
  border-left: none;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--color-border-light);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid var(--color-border-light);
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--color-bg-secondary);
}

.masthead {
  border-bottom: 0.5px solid var(--color-border);
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: 8px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(6px);
 }

main#main {
  padding-top: 110px;
}

.masthead-title {
  color: #505050;
  font-family: var(--font-body);
  font-size: 1.8rem;
  line-height: .777em;
  margin: 2em 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead-title img {
  display: inline-block;
  height: 40px;
  margin-bottom: 0px;
  border-radius: 50%;
  margin-right: 14px;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.masthead-title small {
  color: var(--color-text);
  display: none; /* This is an accessibility no-no */
  font-family: var(--font-heading);
  font-size: .88rem;
  font-weight: normal;
  letter-spacing: .05rem;
}

@media (min-width: 320px) {
  .masthead-title {
    margin-top: 2px;
    margin-right: 15%;
    margin-left: 15%;
  }
}

@media (min-width: 48em) {
  .masthead-title small {
    display: inline;
  }
}

/*
  Sidebar

  The sidebar is the drawer, the item we are toggling with our handy hamburger button in the corner
  of the page.

  This particular sidebar implementation was inspired by Chris Coyier's "Offcanvas Menu with CSS
  Target" article, and the checkbox variation from the comments by a reader. It modifies both
  implementations to continue using the checkbox (no change in URL means no polluted browser
  history), but this uses `position` for the menu to avoid some potential content reflow issues.

  Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
*/

.sidebar {
  left: -16rem;
  width: 16rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;/* 15px*/
  color: var(--color-text-sidebar);
  border-right: .5px solid var(--color-border-sidebar);
  background-color: var(--color-bg-sidebar);
  transition: all .15s ease-in-out;
  padding-top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 200;
  background: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(8px);
}

.sidebar .footer {
  margin-top: auto;
}

@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem;  
  }
}

.sidebar {
  background-color: var(--color-link);
}

.sidebar a {
  font-weight: 600;
  color: var(--color-link-sidebar);
}

.sidebar-item {
  padding: 1rem;
}

.sidebar-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.sidebar-item.sidebar-intro, .sidebar-item.sidebar-tagline {
  padding: 0rem 1rem 0.8rem 1rem;
}
.sidebar-intro {
  font-style: italic;
}

.sidebar-item p:last-child {
  margin-bottom: 0;
}

.sidebar-nav {
  border-bottom: 0.5px solid rgba(255,255,255,.1);
}

.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 0.5px solid rgba(255,255,255,.1);
}

a.sidebar-nav-item-toc {
  color: rgba(255,255,255,.8);
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }

  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

.sidebar-checkbox {
  margin-top: env(safe-area-inset-top);
  display: none;
}

.sidebar-toggle {
  top:  calc(.8rem + env(safe-area-inset-top));
  left: 1rem;
  display: block;
  padding: .25rem .75rem;
  color: #505050;
  background-color: var(--color-bg);
  border-radius: .25rem;
  cursor: pointer;
  position: fixed;
  z-index: 400;
  &:focus {
    outline: auto;
  }
}

.sidebar-toggle:before {
  z-index: 300;
}

.sidebar-toggle:before {
  display: inline-block;
  width: 1rem;
  height: .75rem;
  content: "";
  background-image: linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
}

.sidebar-toggle:active,
#sidebar-checkbox:focus ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  background-color: var(--color-bg-sidebar-toggle-active);
}

.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
  background-image: linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
  }
}

@media print {
  .sidebar-toggle {
    display: none;
  }
}


/*
  Slide effect

  Handle the sliding effects of the sidebar and content in one spot, separate from the default
  styles.

  As a heads-up, we don't use `transform: translate3d()` here because, when mixed with
  `position: fixed;` for the sidebar toggle, it creates a new containing block. Put simply, the
  fixed sidebar toggle behaves like `position: absolute;` when transformed.

  Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
*/


#sidebar-checkbox:checked + .sidebar {
  /* z-index: 10; */
  visibility: visible;
}

#sidebar-checkbox:checked ~ .sidebar {
  transform: translateX(16rem);
}

#sidebar-checkbox:checked ~ .wrap .masthead-title img {
  opacity: 0;
}

.layout-reverse #sidebar-checkbox:checked ~ .sidebar {
  transform: translateX(-16rem);
}

.sidebar-overlay #sidebar-checkbox:checked ~ .wrap {
  transform: translateX(0);
}

.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 .25rem #fff;
}

.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: .25rem 0 .5rem rgba(0,0,0,.1);
}

.text-center {
  text-align: center!important;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.fs-4 {
  font-size: 1.6rem!important;
}

.fs-5 {
  font-size: 1.4rem!important;
}

.fs-7 {
  font-size: 0.8rem!important;
}

div.toc {
  margin-bottom: 4rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

.footnotes {
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: .01rem;
}

.footnotes .foot-block {
  display: inline-block;
  padding: 0 4rem 0 2rem;
  margin-bottom: .8rem;
  font-style: italic;
}

a.footnote-ref {
  padding-left: .1rem;
  font-size: .66rem;
}

ol.bibliography {
  list-style-type:none;
  padding-left: 1rem;
  text-indent: -1rem;
}

ins,
.add {
  color: var(--color-success);
  font-style: italic;
}

del,
.delete {
  text-decoration: line-through;
  color: #AA3232;
}

u,
.underline {
  text-decoration: underline;
}


.sidebar {
  background-color: var(--color-bg-secondary);
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: var(--color-accent);
}

.post-meta {
  margin-bottom: 0;
  font-size: .85rem;
  color: var(--color-text-muted);
}

.container a,
.sidebar-toggle,
.related-posts li a:hover {
  color: var(--color-accent);
}

.masthead-title a {
  font-family: sans-serif;
  letter-spacing: -3px;
  font-weight: 900;
  color: black;
  -webkit-text-stroke: 2px white;
  // Without this, the text stroke looks off...
  paint-order: stroke fill;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color-scheme: dark;
  }

  .sidebar a {
    font-weight: 400;
  }

  .sidebar-toggle:before {
    /* Inverted hamburger icon for dark mode */
    background-image: linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    z-index: 300;
  }

  /* Mermaid diagrams only work with light background */
  pre.mermaid {
    background-color: #f9f9f9 !important;
  }

  .masthead-title a {
    color: white;
    -webkit-text-stroke: 2px #060606;
  }
}

template {
  // IE support for HTML5 <template> tag
  display: none;
}

.masthead-title small {
  font-size: .78rem;
}

#page-contact,
#page-thanks,
.introduction {
  min-height: 40px;
  margin-bottom: 40px;

  @include mq(tabletp) {
    min-height: 60px;
    margin-bottom: 60px;
  }

  @include mq(tabletl) {
    min-height: 80px;
    margin-bottom: 80px;
  }

  @include mq(laptop) {
    min-height: 100px;
    margin-bottom: 100px;
  }
}

.introduction {
  h1.accent {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

#page-contact .container,
#page-thanks .container,
.introduction .container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.post {
  margin-top: 40px;

  @include mq(tabletp) {
    margin-top: 60px;
  }

  @include mq(tabletl) {
    margin-top: 80px;
  }

  @include mq(laptop) {
    margin-top: 100px;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

#TableOfContents ul ul,
#TableOfContents ul ul ul,
#TableOfContents ul ul ul ul,
#TableOfContents ul ul ul ul ul,
#TableOfContents ul ul ul ul ul ul,
#TableOfContents ul ul ul ul ul ul ul {
  margin-bottom: 0;
}


.post .byline {
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: -.5rem;
}

.post .byline {
  margin-bottom: 1rem;
}

nav.pagination {
  justify-content: center;
}

ul.pager {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    padding: 10px;
    margin: 5px;
  }
}

.divider {
  position: relative;
  margin: 2.5rem 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.d-flex {
  display: flex;
}

.footnotes  {
  hr {
    margin: 0;
    border: 0;
  }

  blockquote + a.footnote-backref {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

.tags-wrapper {
  position: relative;
}

.post-tags {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 24px;
  bottom: -12px;
  list-style: none;
  text-indent: unset;

  li, a {
    font-family: var(--font-heading);
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: .75em;
  }

  a {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: var(--color-link);
    color: #fff;
    text-decoration: none;

    border-radius: 0 4px 4px 0;

    &:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      border-color: transparent var(--color-link) transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      float: left;
      width: 4px;
      height: 4px;
      background: #fff;

      border-radius: 2px;
      box-shadow: -1px -1px 2px var(--color-text);
    }

    &:hover {
      background: var(--color-text-muted);
    }

    &:hover:before {
      border-color: transparent var(--color-text-muted) transparent transparent;
    }
  }
}

a.external {
  &:after {
    background-color: var(--color-accent);
    content: "";
    display: inline-flex;
    height: 10px;
    margin-left: 4px;
    width: 10px;

    -webkit-mask-size: cover;
            mask-size: cover;
    -webkit-mask-image: url("/img/external-link.svg");
            mask-image: url("/img/external-link.svg");
  }
}

ul.tags-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
  padding: 2rem 0 1rem;
  list-style: none;
  border: 2px solid white;
  border-radius: 5px;

  .tag {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem;
  }

  .tag-link {
    padding: 5px 5px 0;
    transition: 0.15s;
  }
}

#top-of-site-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

@media (max-width: 800px){
  #top-of-site-anchor {
    top: 46px;
  }
}

.top-of-site-link {
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  z-index: 99;

  transition: .15s;

  &:hover {
    text-decoration: none;
  }

  svg {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .3));
  }
}

.top-of-site-link[data-visible=true] {
  opacity: 1;
  visibility: visible;
}

.screen-reader-text {
  @include visually-hidden();
}


.post-tags a {
  background: var(--color-accent);
  &:before {
    border-color: transparent var(--color-accent) transparent transparent;
  }
}

// https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
// Only apply anchor offset to content areas and specific anchors, not navigation elements
main [id]::before,
.content [id]::before,
#top-of-site-anchor::before {
  content: '';
  display: block;
  // This is the height of the masthead, it should be adapting to the height of the masthead... but it's not for now...
  height:      92px;
  margin-top: -92px;
  visibility: hidden;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: var(--color-bg-secondary);
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--color-bg-secondary);
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Hugo */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: .2em;
  font-family: inherit;
  font-size: 1.25em;
  color: #000;
  background-color: var(--color-bg);
  width: 100%;
  padding: 0.5em;

  transition: all 0.15s ease-in-out;
  appearance: none;

  @include mq(tabletp) {
    font-size: 1.15em;
  }

  @include mq(laptop) {
    font-size: 1.1em;
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #5e5e5e;
  }
}

.form-item {
  margin-top: 15px;

  @include mq(tabletp) {
    margin-top: 20px;
  }

  @include mq(laptop) {
    margin-top: 30px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.form-item-error {
  .form-input,
  .form-textarea {
    box-shadow: 0 0 2px 1px var(--color-error) !important;
  }
}

@include input-placeholder(#ABB7B7, 15%);

.button {
  display: inline-block;
  padding: 9px 10px 10px;
  font-size: 13px;
  line-height: 1;
  border: 2px solid #5e5e5e;
  border-radius: 3px;
  background: #5e5e5e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

  @include mq(tabletp) {
    padding: 11px 20px 12px;
    font-size: 15px;
  }

  &:hover {
    background: adjust-hue(#404040,15%);
    border-color: adjust-hue(#404040,15%);
    color: #fff;
  }

  svg {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
      margin-left: 5px;
    }

    @include mq(tabletp) {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
}

.hide-element {
  display: none;
}

#search-form .search-error.hide-element {
  display: none;
}

.search-item {
  font-weight: bold;
  background-color: rgb(255, 255, 84);
}

.search-error,
.search-error-message {
  transition: all .5s ease-out;
}

