{{/* Sidebar TOC with checkbox toggle for CSS-only interaction */}}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-toggle" aria-hidden="true" tabindex="-1">

<aside class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ .Title }}</p>
    </div>

    {{ $toc := .Page.TableOfContents }}

    {{ $toc = $toc | replaceRE `id="TableOfContents"` `class="sidebar-nav"` | safeHTML }}
    {{ $toc = $toc | replaceRE "(<[/]?ul>|<[/]?ol>|<[/]?li>)" "" | safeHTML }}
    {{ $toc = $toc | replaceRE `<a href="(.*)">(.*)</a>` `<a class="sidebar-nav-item sidebar-nav-item-toc" href="$1">$2</a>` | safeHTML }}



    {{ $home := printf `<a class="sidebar-nav-item" href="%s">%s</a>` site.Home.RelPermalink (i18n "home") | safeHTML }}
    {{ $toc = $toc | replaceRE `<nav class="sidebar-nav">` (printf `<nav class="sidebar-nav">%s` $home) | safeHTML }}

    {{ $toc }}

    {{ partial "footer" . }}
</aside>
